// Fonts
$font-heading: "Playfair Display", serif;
$font-base: "Open Sans", sans-serif;
$font-quote: "Pinyon Script", cursive;
$font-heading-2: "Raleway", sans-serif;


// Colors
$light-gray: #d3d3d3;
$dark-gray: #686666da;
$dark-blue: #141d2b;
$orange: #f1863b;
$footer-color: #0f0f0f;
$current-country-color: #5960b5;
$visited-country-color: #a4ced2;
$country-name-color: #1e90ff;


// Emojis
$car: "\1F697";
$vote: "\1F5F3";
$work: "\1F4BC";
$insurance: "\1F4CB";
$bank: "\1F3E6";
$phone: "\1F4DE";
$house: "\1F3E0";
$energy: "\1F4A1";

$vaccine: "\1F489";