// Fonts
$font-heading: "Playfair Display", serif;
$font-base: "Open Sans", sans-serif;
$font-quote: "Pinyon Script", cursive;
$font-heading-2: "Raleway", sans-serif;


// Colors
$light-gray: #d3d3d3;
$dark-gray: #686666da;
$dark-blue: #141d2b;
$orange: #f1863b;
$footer-color: #0f0f0f;
