@charset "UTF-8";
/* ---------- Utils ---------- */
@counter-style admin {
  system: cyclic;
  symbols: "🚗" "🗳" "💼" "📋" "🏦" "📞" "🏠" "💡";
  suffix: " ";
}
@counter-style health {
  system: cyclic;
  symbols: "💉";
  suffix: " ";
}
@keyframes scroll-down {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
/* --------- Vendors --------- */
/* ---------- Base ----------- */
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                            RESET
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased;
  /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased;
  /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

html, body, nav, header, footer, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img,
ul, li,
table, form, label, input, textarea, select, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input, textarea, select, button {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=submit]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
  /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto;
  /*─ Hide scroll bar on IE ─*/
}

a {
  color: inherit;
  text-decoration: none;
}

img, video, svg, picture {
  display: block;
}

img, video {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding: 0 5vw;
}
@media screen and (max-width: 940px) {
  .container {
    padding: 0 10vw;
  }
}

.img-scale {
  overflow: hidden;
}
.img-scale img {
  transition: transform 1s ease;
}
.img-scale img:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
  cursor: pointer;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
}
@media screen and (max-width: 660px) {
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

h5 {
  font-family: "Raleway", sans-serif;
}

em {
  font-weight: 600;
}

strong {
  font-weight: bold;
  color: #f1863b;
}

/* -------- Components ------- */
.btn {
  display: block;
  padding: 0.9rem 1.8rem;
  width: fit-content;
  background-color: #f1863b;
  color: #fff;
  border: 2px solid #f1863b;
  border-radius: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  transition: background-color 0.2s;
  cursor: pointer;
}
@media screen and (max-width: 660px) {
  .btn {
    font-size: 0.9rem;
    padding: 0.7rem 1.4rem;
  }
}
.btn:hover {
  color: #f1863b;
  background-color: transparent;
  transition: background-color 0.2s;
}

/* --------- Layouts --------- */
.header {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  position: relative;
}
.header h3 {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  max-width: 240px;
  text-transform: uppercase;
  width: 20rem;
}
.header__open-btn {
  display: none;
  position: absolute;
  right: 0;
  top: 2.3rem;
  font-size: 1.8rem;
}
@media screen and (max-width: 940px) {
  .header__open-btn {
    display: block;
  }
}
.header__close-btn {
  display: none;
}
@media screen and (max-width: 940px) {
  .header__close-btn {
    display: block;
    position: absolute;
    top: 5vh;
    right: 5vw;
    font-size: 2rem;
  }
}
.header__navbar {
  width: 80%;
}
@media screen and (max-width: 940px) {
  .header__navbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
}
.header__navbar .navbar__content {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 5rem;
  position: relative;
}
@media screen and (max-width: 940px) {
  .header__navbar .navbar__content {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    flex-direction: column;
    margin-left: 0;
  }
}
.header__navbar .navbar__content .header__nav-link a {
  position: relative;
  font-weight: 600;
  color: #d3d3d3;
  transition: color 0.2s;
}
@media screen and (max-width: 940px) {
  .header__navbar .navbar__content .header__nav-link a {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 660px) {
  .header__navbar .navbar__content .header__nav-link a {
    font-size: 1.3rem;
  }
}
.header__navbar .navbar__content .header__nav-link a:hover {
  color: #f1863b;
  transition: color 0.2s;
}
.header__navbar .navbar__content .header__nav-link a::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 5%;
  width: 90%;
  height: 0.1em;
  margin: 0 auto;
  background-color: #f1863b;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
  transition: opacity 300ms, transform 300ms;
}
.header__navbar .navbar__content .header__nav-link a:hover::after {
  transform: scale(1);
}
.header__navbar .navbar__content .active a {
  position: relative;
  font-weight: 600;
  color: #f1863b;
  transition: color 0.2s;
}
.header__navbar .navbar__content .active a::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 5%;
  width: 90%;
  height: 0.1em;
  margin: 0 auto;
  background-color: #f1863b;
  transform: scale(1);
}
.header__social {
  width: 10%;
  text-align: right;
}
@media screen and (max-width: 940px) {
  .header__social {
    display: none;
  }
}
.header__social a {
  font-size: 1.6rem;
  color: #d3d3d3;
  transition: color 0.2s;
}
.header__social a:hover {
  color: #f1863b;
  transition: color 0.2s;
}

.footer {
  color: rgba(104, 102, 102, 0.8549019608);
  background-color: #0f0f0f;
}
.footer__title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  line-height: normal;
}
.footer__container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
@media screen and (max-width: 660px) {
  .footer__container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
  }
}
.footer__container .footer__instagram {
  width: 40%;
}
@media screen and (max-width: 660px) {
  .footer__container .footer__instagram {
    width: auto;
  }
}
.footer__container .footer__instagram .footer__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}
.footer__container .footer__follow {
  width: 30%;
}
@media screen and (max-width: 660px) {
  .footer__container .footer__follow {
    width: 80%;
  }
}
.footer__container .footer__follow .footer__social {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 0.9rem;
}
@media screen and (max-width: 940px) {
  .footer__container .footer__follow .footer__social {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
  }
}
.footer__container .footer__follow .footer__social li a {
  color: #fff;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  transition: color 0.2s;
}
.footer__container .footer__follow .footer__social li a:hover {
  color: #ffa500;
  transition: color 0.2s;
}
.footer__container .footer__follow .footer__social li a i {
  font-size: 1.2rem;
  vertical-align: center;
}
.footer__container .footer__move-up {
  position: absolute;
  top: 50%;
  right: 3%;
  color: #fff;
  transition: color 0.2s;
}
@media screen and (max-width: 660px) {
  .footer__container .footer__move-up {
    display: none;
  }
}
.footer__container .footer__move-up:hover {
  cursor: pointer;
  color: #f1863b;
  transition: color 0.2s;
}
.footer__container .footer__title {
  font-size: 1.8rem;
  line-height: normal;
  text-align: left;
  color: #fff;
}
.footer__copyrights {
  text-align: center;
  padding: 1rem;
}

.hero {
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 8rem;
}
.hero__quote h1 {
  font-style: italic;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media screen and (max-width: 940px) {
  .hero__quote h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 660px) {
  .hero__quote h1 {
    font-size: 2rem;
  }
}
.hero__quote h5 {
  text-align: center;
  font-size: 1.2rem;
}
@media screen and (max-width: 660px) {
  .hero__quote h5 {
    font-size: 1rem;
  }
}
.hero__btn {
  position: relative;
  align-self: center;
  margin-bottom: 2rem;
  background: none;
  transition: padding 500ms ease;
  color: #f1863b;
}
.hero__btn:hover {
  padding-left: 4rem;
  transition: padding 500ms ease;
}
.hero__btn:hover .btn-arrow {
  opacity: 1;
  transition: all 500ms ease;
  transform: translate3d(20px, 0, 0);
}
.hero__btn .btn-arrow {
  position: absolute;
  font-size: 1.5rem;
  opacity: 0;
  left: 0;
  transition: all 500ms ease;
  margin-top: 1px;
}
.hero__scroll-arrow {
  position: relative;
  align-self: center;
}
.hero__scroll-arrow span {
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll-down 2s infinite;
}
.hero__scroll-arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.hero__scroll-arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
.hero__location {
  margin-bottom: 2rem;
}
@media screen and (max-width: 660px) {
  .hero__location {
    font-size: 0.8rem;
  }
}
.hero__location span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: color 0.2s;
}
.hero__location span:hover {
  color: #ffa500;
  transition: color 0.2s;
}
.hero__location span i {
  font-size: 0.8rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #141d2b;
}
@media screen and (max-width: 660px) {
  .hero__location span i {
    font-size: 0.6rem;
  }
}
.hero__location span a {
  font-weight: 600;
  transition: color 0.2s;
}

/* ---------- Pages ---------- */
.hero--home {
  background: rgba(0, 0, 0, 0.3) url("./../../public/assets/background_header.jpg") no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
}

.section {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-bottom: 12rem;
  text-align: right;
}
@media screen and (max-width: 940px) {
  .section {
    flex-direction: column;
    flex-flow: column-reverse;
    text-align: center;
  }
}
.section__content {
  display: flex;
  flex-direction: column;
}
.section__content h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #f1863b;
  margin-bottom: 0.5rem;
}
.section__content h2 {
  margin-bottom: 2rem;
}
.section__content p {
  margin-bottom: 1rem;
}
.section__content span {
  margin-top: 1rem;
  align-self: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
}
.section__content a {
  margin: 0 auto;
  margin-top: 1rem;
}
.section aside {
  width: 100%;
}
.section--prep {
  text-align: left;
}
@media screen and (max-width: 940px) {
  .section--prep {
    flex-flow: column;
    text-align: center;
  }
}
.section--prep aside {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 660px) {
  .section--prep aside {
    display: none;
  }
}
.section--prep aside img {
  object-fit: contain;
  max-width: calc(50% - 1rem);
}
.section--prep aside :nth-child(1) {
  margin-bottom: 2rem;
}
.section--prep aside :nth-child(2) {
  margin-top: 2rem;
}

.hero--route {
  background: rgba(0, 0, 0, 0.3) url("./../../public/assets/background_header_4.jpg") no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
}

.route h2 {
  margin-bottom: 5rem;
}
.route__map {
  margin-bottom: 15rem;
  display: flex;
  flex-flow: row-reverse;
}
@media screen and (max-width: 940px) {
  .route__map {
    flex-flow: column;
  }
}
.route__map .map__image {
  width: 100%;
  margin-bottom: 5rem;
}
@media screen and (max-width: 660px) {
  .route__map .map__image {
    display: none;
  }
}
.route__map .map__image path {
  fill: #d3d3d3;
}
.route__map .map__image .visited path {
  fill: #a4ced2;
  transition: fill 0.3s;
}
.route__map .map__image .current path {
  fill: #5960b5;
  transition: fill 0.3s;
}
.route__map .map__image .is-active path {
  fill: #f1863b;
  stroke: #fff;
  transition: fill 0.3s;
}
.route__map .map__list {
  margin-right: 4rem;
}
@media screen and (max-width: 660px) {
  .route__map .map__list {
    margin: auto;
  }
}
.route__map .map__list ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.route__map .map__list ul li {
  display: flex;
}
.route__map .map__list ul li img {
  width: 32px;
  margin-right: 2rem;
}
.route__map .map__list a {
  transition: color 0.3s;
  font-weight: 600;
  font-size: 1.3rem;
}
.route__map .map__list a.current {
  color: #5960b5;
}
.route__map .map__list a.is-active {
  color: #f1863b;
}

.countries {
  width: 90%;
  margin: 0 auto 10rem auto;
  font-size: 1.1rem;
}
@media screen and (max-width: 940px) {
  .countries {
    width: 100%;
  }
}
.countries h2 {
  margin-bottom: 5rem;
}
.countries .countries__text {
  margin-bottom: 5rem;
}
.countries .countries__image {
  text-align: center;
  width: 50%;
  margin: auto;
}
@media screen and (max-width: 940px) {
  .countries .countries__image {
    width: 100%;
  }
}
.countries .countries__image img {
  margin-bottom: 2rem;
}
.countries .countries__image span {
  font-family: "Pinyon Script", cursive;
  font-size: 2.5rem;
}

.hero--prep {
  background: rgba(0, 0, 0, 0.3) url("./../../public/assets/background_header_2.jpg") no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
}

.prep {
  margin-bottom: 10rem;
  font-size: 1.1rem;
}
.prep h3 {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #f1863b;
  margin-top: 6rem;
  margin-bottom: 1rem;
  text-align: center;
}
.prep ul {
  margin-top: 0.5rem;
  margin-left: 4rem;
}
.prep ul li {
  padding-left: 0.5rem;
  font-size: 1rem;
}
.prep__admin-list li {
  list-style-type: admin;
}
.prep__health-list {
  margin-bottom: 1rem;
}
.prep__health-list li {
  list-style-type: health;
}
.prep__equipment {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: left;
}
@media screen and (max-width: 940px) {
  .prep__equipment {
    flex-direction: column;
  }
}
.prep__equipment .equipment__img {
  display: flex;
  gap: 2rem;
  width: 100%;
}
@media screen and (max-width: 660px) {
  .prep__equipment .equipment__img {
    flex-direction: column;
    gap: 1rem;
  }
}
.prep__equipment .equipment__img img {
  max-width: calc(50% - 1rem);
}
@media screen and (max-width: 660px) {
  .prep__equipment .equipment__img img {
    flex-direction: column;
    max-width: 100%;
  }
}
.prep__equipment .equipment__img :nth-child(1) {
  margin-bottom: 2rem;
}
@media screen and (max-width: 660px) {
  .prep__equipment .equipment__img :nth-child(1) {
    margin: 0;
  }
}
.prep__equipment .equipment__img :nth-child(2) {
  margin-top: 2rem;
}
@media screen and (max-width: 660px) {
  .prep__equipment .equipment__img :nth-child(2) {
    margin: 0;
  }
}

.hero--challenges {
  background: rgba(0, 0, 0, 0.3) url("./../../public/assets/background_header_3.jpg") no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
}

.challenges {
  margin-bottom: 10rem;
  font-size: 1.1rem;
}
.challenges h2 {
  margin-bottom: 5rem;
}
.challenges ul {
  margin: 2rem auto 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (max-width: 940px) {
  .challenges ul {
    width: 70%;
  }
}
@media screen and (max-width: 660px) {
  .challenges ul {
    width: 90%;
  }
}
.challenges ul li {
  list-style-type: challenges;
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.challenges ul li i {
  font-size: 1.4rem;
}
.challenges ul li .fa-hourglass {
  color: rgba(104, 102, 102, 0.8549019608);
}
.challenges ul .challenge-done {
  color: green;
}
.challenges ul .challenge-done span {
  font-style: italic;
  font-weight: 600;
  color: green;
}

.hero--country h1 {
  font-size: 5rem;
}
@media screen and (max-width: 940px) {
  .hero--country h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 660px) {
  .hero--country h1 {
    font-size: 3.5rem;
  }
}

.map-section {
  margin-bottom: 8rem;
}
.map-section h2 {
  margin-bottom: 2rem;
}
.map-section #map {
  width: 85vw;
  height: 85vh;
  margin: auto;
  border-radius: 1rem;
}
.map-section #map .infoWindow {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.map-section #map .infoWindow .infoWindow__heading {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: #f1863b;
  margin-bottom: 0.3rem;
}
.map-section #map .infoWindow .infoWindow__days {
  font-weight: 500;
  text-align: center;
}

.logbook {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.logbook__day-report strong.day-report__country-name {
  color: #1e90ff;
}
.logbook__day-report .day-report__title {
  text-align: center;
  margin-bottom: 2rem;
}
.logbook__day-report .day-report__title h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #f1863b;
  margin-bottom: 1rem;
}
.logbook__day-report .day-report__title h4 {
  font-size: 1.4rem;
  color: #f1863b;
  font-weight: normal;
}
.logbook__day-report .day-report__content {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  text-align: justify;
}
@media screen and (max-width: 660px) {
  .logbook__day-report .day-report__content {
    flex-flow: column;
  }
}
.logbook__day-report .day-report__content--no-images {
  display: block;
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 660px) {
  .logbook__day-report .day-report__content--no-images {
    width: 100%;
  }
}
.logbook__day-report .day-report__content--no-images p {
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
  text-align: justify;
}
.logbook__day-report .day-report__content .day-report__text {
  max-width: 40%;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}
@media screen and (max-width: 940px) {
  .logbook__day-report .day-report__content .day-report__text {
    min-width: 40%;
    max-width: 50%;
  }
}
@media screen and (max-width: 660px) {
  .logbook__day-report .day-report__content .day-report__text {
    min-width: 100%;
  }
}
.logbook__day-report .day-report__content .day-report__text h5 {
  margin-top: 2rem;
  color: #141d2b;
  text-decoration: underline;
}
.logbook__day-report .day-report__content .day-report__text p {
  line-height: 1.5rem;
}
.logbook__day-report .day-report__content .day-report__text--small {
  max-width: 20%;
}
@media screen and (max-width: 660px) {
  .logbook__day-report .day-report__content .day-report__text--small {
    min-width: 100%;
  }
}
.logbook__day-report .day-report__content .day-report__text--large {
  min-width: 50%;
}
@media screen and (max-width: 660px) {
  .logbook__day-report .day-report__content .day-report__text--large {
    min-width: 100%;
  }
}
.logbook__day-report .day-report__content .day-report__text--large p {
  font-size: 0.9rem;
}
@media screen and (max-width: 660px) {
  .logbook__day-report .day-report__content .day-report__text--large p {
    font-size: 1rem;
  }
}
.logbook__day-report .day-report__content .day-report__text--extra-large {
  min-width: 65%;
}
@media screen and (max-width: 660px) {
  .logbook__day-report .day-report__content .day-report__text--extra-large {
    min-width: 100%;
  }
}
.logbook__day-report .day-report__content .day-report__text--extra-extra-large {
  min-width: 80%;
}
@media screen and (max-width: 660px) {
  .logbook__day-report .day-report__content .day-report__text--extra-extra-large {
    min-width: 100%;
  }
}
@media screen and (max-width: 660px) {
  .logbook__day-report .day-report__content .day-report__img-container {
    overflow-x: scroll;
  }
}
.logbook__day-report .day-report__content .day-report__images {
  column-gap: 1rem;
}
@media screen and (max-width: 660px) {
  .logbook__day-report .day-report__content .day-report__images {
    display: flex;
    margin-bottom: 1rem;
  }
}
.logbook__day-report .day-report__content .day-report__images .img-subtitled {
  text-align: center;
  margin-bottom: 1rem;
}
@media screen and (max-width: 660px) {
  .logbook__day-report .day-report__content .day-report__images .img-subtitled {
    margin: 0;
  }
}
.logbook__day-report .day-report__content .day-report__images .img-subtitled .img-scale {
  margin-bottom: 0.3rem;
}
@media screen and (max-width: 660px) {
  .logbook__day-report .day-report__content .day-report__images .img-subtitled .img-scale {
    margin: 0;
  }
}
.logbook__day-report .day-report__content .day-report__images .img-subtitled span {
  font-size: 0.9rem;
  font-style: italic;
  text-decoration: underline;
}
@media screen and (max-width: 660px) {
  .logbook__day-report .day-report__content .day-report__images .img-subtitled span {
    display: none;
  }
}
.logbook__day-report .day-report__content .day-report__images .img-scale {
  margin-bottom: 0.8rem;
}
@media screen and (max-width: 660px) {
  .logbook__day-report .day-report__content .day-report__images .img-scale {
    margin: 0;
    height: 100%;
  }
}
.logbook__day-report .day-report__content .day-report__images--small {
  column-count: 1;
}
.logbook__day-report .day-report__content .day-report__images--small .img-subtitled, .logbook__day-report .day-report__content .day-report__images--small .img-scale {
  margin-bottom: 2rem;
}
@media screen and (max-width: 660px) {
  .logbook__day-report .day-report__content .day-report__images--small .img-subtitled, .logbook__day-report .day-report__content .day-report__images--small .img-scale {
    margin: 0;
  }
}
.logbook__day-report .day-report__content .day-report__images--medium {
  column-count: 2;
}
@media screen and (max-width: 940px) {
  .logbook__day-report .day-report__content .day-report__images--medium {
    column-count: 1;
  }
}
.logbook__day-report .day-report__content .day-report__images--large {
  column-count: 3;
}
@media screen and (max-width: 940px) {
  .logbook__day-report .day-report__content .day-report__images--large {
    column-count: 1;
  }
}
.logbook__day-report:nth-child(3n) .day-report__content {
  flex-flow: row-reverse;
}
@media screen and (max-width: 660px) {
  .logbook__day-report:nth-child(3n) .day-report__content {
    flex-flow: column;
  }
}
.logbook__conclusion {
  text-align: center;
  width: 75%;
  margin: auto;
}
@media screen and (max-width: 660px) {
  .logbook__conclusion {
    width: 90%;
  }
}
.logbook__conclusion p {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 1rem;
}
@media screen and (max-width: 660px) {
  .logbook__conclusion p {
    font-size: 1.1rem;
  }
}
.logbook__conclusion span {
  display: block;
  margin-top: 3rem;
  font-family: "Pinyon Script", cursive;
  font-size: 2.5rem;
}
@media screen and (max-width: 660px) {
  .logbook__conclusion span {
    font-size: 2rem;
  }
}

.hero--argentina {
  background: rgba(0, 0, 0, 0.3) url("./../../public/assets/countries/argentina.jpg") no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
}

@media screen and (max-width: 660px) {
  #day-report__0 .day-report__images {
    width: 140%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__1 .day-report__images {
    width: 230%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__2 .day-report__images {
    width: 380%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__3 .day-report__images {
    width: 850%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__4 .day-report__images {
    width: 360%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__5 .day-report__images {
    width: 200%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__6 .day-report__images {
    width: 1080%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__7 .day-report__images {
    width: 210%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__8 .day-report__images {
    width: 160%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__9 .day-report__images {
    width: 140%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__10 .day-report__images {
    width: 230%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__11 .day-report__images {
    width: 1130%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__12 .day-report__images {
    width: 70%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__13 .day-report__images {
    width: 70%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__14 .day-report__images {
    width: 1280%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__15 .day-report__images {
    width: 140%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__17 .day-report__images {
    width: 250%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__18 .day-report__images {
    width: 570%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__19 .day-report__images {
    width: 740%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__20 .day-report__images {
    width: 200%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__21 .day-report__images {
    width: 710%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__22 .day-report__images {
    width: 1570%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__23 .day-report__images {
    width: 1310%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__26 .day-report__images {
    width: 730%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__27 .day-report__images {
    width: 990%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__28 .day-report__images {
    width: 720%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__29 .day-report__images {
    width: 960%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__30 .day-report__images {
    width: 140%;
  }
}

@media screen and (max-width: 660px) {
  #day-report__31 .day-report__images {
    width: 570%;
  }
}

/* ---------- Themes --------- */

/*# sourceMappingURL=style.css.map */
