.hero {
    height: 100vh;
    background: rgba(0, 0, 0, 0.3) url('./../../public/assets/background_header.jpg') no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8rem;

    &__quote {
        //margin-bottom: 2rem;
    

        h1 {
            font-style: italic;
            text-align: center;
            font-size: 4rem;
            font-weight: 600;
        }

        h5 {
            text-align: center;
            font-size: 1.2rem;
        }
    }

    &__btn {
        position: relative;
        align-self: center;
        margin-bottom: 2rem;
        background: none;
        transition: padding 500ms ease;
        color: $orange;

        &:hover {
            padding-left: 4rem;
            transition: padding 500ms ease;

            .btn-arrow {
                opacity: 1;
                transition: all 500ms ease;
                transform: translate3d(20px, 0, 0);
            }
        }

        .btn-arrow {
            position: absolute;
            font-size: 1.5rem;
            opacity: 0;
            left: 0;
            transition: all 500ms ease;
            margin-top: 1px;
        }
    }

    &__location {
        margin-bottom: 2rem;
        span {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            transition: color .2s;

            &:hover {
                color: #ffa500;
                transition: color .2s;
            }

            i {
                font-size: .8rem;
                padding: 1rem;
                border-radius: 2rem;
                background-color: $dark-blue;
            }

            a {
                font-weight: 600;
                transition: color .2s;
            }
        }
    }
}



// Sections
.section {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-bottom: 12rem;

    &__content {
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 1.3rem;
            text-transform: uppercase;
            color: $orange;
            margin-bottom: .5rem;
        }

        h2 {
            font-size: 3rem;
            line-height: 3rem;
            margin-bottom: 2rem;
        }

        p {
            margin-bottom: 1rem;
        }

        em {
            font-weight: 600;
        }

        strong {
            font-weight: 800;
            color: $orange;
        }

        span {
            margin-top: 1rem;
            align-self: center;
            font-size: 1.2rem;
            font-weight: 600;
            font-style: italic;
        }

        a {
            margin: 0 auto;
            margin-top: 1rem;
        }
    }

    aside {
        width: 100vw;
    }
}



// About section
.about {
    text-align: right;
}


// Preparations section
.preparations {
    text-align: left;

    aside {
        display: flex;
        gap: 2rem;

        img {
            object-fit: contain;
            max-width: calc(50% - 1rem);
        }

        :nth-child(1) {
            margin-bottom: 2rem;
        }
        :nth-child(2) {
            margin-top: 2rem;
        }
    }
}