.hero--route {
    background: rgba(0, 0, 0, 0.3) url('./../../public/assets/background_header_4.jpg') no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
}

.route {
    h2 {
        margin-bottom: 5rem;
    }

    &__map {
        margin-bottom: 15rem;
        display: flex;
        flex-flow: row-reverse;

        @include tablet-only {
            flex-flow: column;
        }

        .map__image {
            width: 100%;
            margin-bottom: 5rem;

            @include mobile-only {
                display: none;
            }

            path {
                fill: $light-gray;
            }

            .visited path {
                fill: $visited-country-color;
                transition: fill .3s;
            }

            .current path {
                fill: $current-country-color;
                transition: fill .3s;
            }

            .is-active path {
                fill: $orange;
                stroke: #fff;
                transition: fill .3s;
            }
        }

        .map__list {
            margin-right: 4rem;

            @include mobile-only {
                margin: auto;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                    display: flex;
                    align-items: center;

                    img {
                        width: 32px;
                        margin-right: 2rem;
                    }
                }
            }

            a {
                transition: color .3s;
                font-weight: 600;
                font-size: 1.3rem;
                @include mobile-only {
                    display: inline-flex;
                    align-items: center;
                }
            }

            i {
                display: none;
                @include mobile-only {
                    display: initial;
                    margin-left: 1rem;
                }
            }

            a.current {
                color: $current-country-color;
            }

            a.is-active {
                color: $orange;
            }
        }
    }

}

.countries {
    width: 90%;
    margin: 0 auto 10rem auto;
    font-size: 1.1rem;

    @include tablet-only {
        width: 100%;
    }

    h2 {
        margin-bottom: 5rem;
    }

    .countries__text {
        margin-bottom: 5rem;
    }
    
    .countries__image {
        text-align: center;
        width: 50%;
        margin: auto;

        @include tablet-only {
            width: 100%;
        }

        img {
            margin-bottom: 2rem;
        }

        span {
            font-family: $font-quote;
            font-size: 2.5rem;
        }
    }
}
