.btn {
    display: block;
    padding: .9rem 1.8rem;
    width: fit-content;
    background-color: $orange;
    color: #fff;
    border: 2px solid $orange;
    border-radius: 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    transition: background-color .2s;
    cursor: pointer;

    @include mobile-only {
        font-size: .9rem;
        padding: .7rem 1.4rem;
    }

    &:hover {
        color: $orange;
        background-color: transparent;
        transition: background-color .2s;
    }
}