// Base
html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-base;
}



// Containers
.container {
    padding: 0 5vw;

    @include tablet-only {
        padding: 0 10vw;
    }
}

.img-scale {
    overflow: hidden;

    img {
        transition: transform 1s ease;

        &:hover {
            transform: scale(1.1);
            transition: transform 1s ease;
            cursor: pointer;
        }
    }
}




// Titles
h1 {
    font-family: $font-heading;
    font-weight: 600;
}

h2 {
    font-family: $font-heading;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;

    @include mobile-only {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

h3 {
    font-family: $font-heading-2;
    font-weight: 600;
}

h5 {
    font-family: $font-heading-2;
}


// Paragraphs
em {
    font-weight: 600;
}

strong {
    font-weight: bold;
    color: $orange;
}