.footer {
    color: $dark-gray;
    background-color: $footer-color;

    &__title {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        line-height: normal;
    }

    &__container {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 4rem;
        padding-bottom: 2rem;

        @include mobile-only {
            flex-direction: column;
            justify-content: flex-start;
            gap: 3rem;
        }

        .footer__instagram {
            width: 40%;

            @include mobile-only {
                width: auto;
            }

            .footer__gallery {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: .5rem;
            }
        }

        .footer__follow {
            width: 30%;

            @include mobile-only {
                width: 80%;
            }

            .footer__social {
                margin-top: 1rem;
                display: flex;
                align-items: center;
                gap: 3rem;
                font-size: .9rem;

                @include tablet-only {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: .8rem;
                }

                li a {
                    color: #fff;
                    display: inline-flex;
                    align-items: center;
                    gap: .3rem;
                    transition: color .2s;

                    &:hover {
                        color: #ffa500;
                        transition: color .2s;
                    }

                    i {
                        font-size: 1.2rem;
                        vertical-align: center;
                    }
                }
            }
        }

        .footer__move-up {
            position: absolute;
            top: 50%;
            right: 3%;
            color: #fff;
            transition: color .2s;

            @include mobile-only {
                display: none;
            }

            &:hover {
                cursor: pointer;
                color: $orange;
                transition: color .2s;
            }
        }

        .footer__title {
            font-size: 1.8rem;
            line-height: normal;
            text-align: left;
            color: #fff;
        }
    }

    &__copyrights {
        text-align: center;
        padding-bottom: 1rem;
        font-size: .9rem;

        @include mobile-only {
            font-size: .7rem;
        }
    }
}