.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    &__navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        h3 {
            font-size: 1.4rem;
            font-weight: 700;
            text-align: center;
            max-width: 240px;
            margin-right: 2rem;
            text-transform: uppercase;
        }

        .header__nav-link a {
            position: relative;
            font-weight: 600;
            color: $light-gray;
            transition: color .2s;

            &:hover {
                color: $orange;
                transition: color .2s;
            }

            // Underline
            &::after {
                display: block;
                content: '';
                position: absolute;
                bottom: -1px;
                left: 5%;
                width: 90%;
                height: 0.1em;
                margin: 0 auto;
                background-color: $orange;
                opacity: 1;
                transform: scale(0);
                transform-origin: center;
                transition: opacity 300ms, transform 300ms;
            }

            // Scale from center
            &:hover::after {
                transform: scale(1);
            }
        }

        .active a {
            position: relative;
            font-weight: 600;
            color: $orange;
            transition: color .2s;

            &::after {
                display: block;
                content: '';
                position: absolute;
                bottom: -1px;
                left: 5%;
                width: 90%;
                height: 0.1em;
                margin: 0 auto;
                background-color: $orange;
                transform: scale(1);
            }
        }
    }

    &__social {
        a {
            font-size: 1.6rem;
            color: $light-gray;
            transition: color .2s;

            &:hover {
                color: $orange;
                transition: color .2s;
            }
        }
    }
}

